@import url(http://fonts.googleapis.com/css?family=Changa+One);

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image:url('../img/dark_fish_skin.png');
  // background-size: cover;
  background-position: fixed;
  // background-repeat: no-repeat;
}

nav {
  padding-top: 15px;
}

nav .button {
  margin: 0 15px;
}

nav h1 {
  float: left;
  display: inline-block;
  margin-left: 25px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: 'Changa One', sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
}

.login {
  margin-right: 20px;
  float: right;
  font-size: .8em;
}

.login .button {
  margin-left: 10px;
  padding: 0 5px;
}

.login form {
  display: inline-block;
}

#username {
  display: inline-block;
  margin-right: 15px;
  margin-top: 7px;
  vertical-align: top;
}

// #username {
//   display: inline-block;
//   margin-right: 15px;
//   margin-top: 7px;
//   vertical-align: top;
//   float: right;
// }

#dashboard {
  float: right;
  margin-right: 45px;
  margin-top: 35px;
  font-size: 25px;
  width: 200px;
}

#dashboard form {
  margin-bottom: 10px;
}

#items {
  float: right;
  margin-right: 45px;
  margin-top: 30px;
}

.slider {
  width: 150px;
  display: inline-block;
}

#achievements {
  display: inline-block;
  margin-left: 20px;
}

#wood, #cash {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  max-width: 150px;
}

.cash {
  width: 240px;
  color: white;
}

.wood {
  color: white;
}

#user {
  display: block;
  float: right;
  font-size: 30px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white;
}

#forest {
  width: 900px;
  height: 100%;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 145px;
}

#getForest {
  margin-left: 10px;
}

.tree {
  float: left;
  margin: 22px 10px;
  width: 90px;
  height: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center
}

.grow {
  background-color: rgba(154, 153, 153, 0.21);
  position: relative;
  top: -38px;
}

.height {
  position: relative;
  top: -12px;
  text-align: center;
  font-size: 1.3em;
}

.chop {
  background-color: #e01d1d;
}

.woodqty {
  font-size: .5em;
  width: 60px;
}

#sell {
  margin-left: 10px;
}

#autogrow, #autoseed, #autoroot {
  margin: 0 5px;
}

#autogrow, #autoroot {
  background-size: cover;
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}

#autoseed {
  background-size: cover;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  display: inline-block;
}

#autogrow:hover, #autoseed:hover, #autoroot:hover {
  border: 2px solid green;
}

.on {
  background-color: white;
}

#chop-height {
  width: 60px;
}

#range-slider {
  margin: 10px 0;
}

h4 {
  margin: 0;
  color: white;
}

#dashboard form  {
  margin-top: 10px;
}

.seed {
  background-image:url('../img/seed.png');
}

.sapling {
  background-image:url('../img/sprout.png');
}

.treenager {
  background-image:url('../img/adolescent.png');
}

.adult {
  background-image:url('../img/adult.png');
}

.dead {
  background-image:url('../img/deadtree.png');
}

.chopped {
  background-image:url('../img/tree_stump.png');
}

.beanstalk {
  background-image:url('../img/beanstalk.png');
}
