.tree(data-id=tree._id.toString(), class=tree.classes)
  if(tree.isGrowable)
    button.button.button-highlight.grow Grow
  if(tree.isGrowable)
    .height #{(tree.height / 12).toFixed(1)} ft
  if(tree.isChoppable)
    button.button.button-caution.chop Chop
